<div class="container" >
    <div class="row">
        <div class="col-xs-12 mt-5">
            <h3 >In the App Component</h3>
            <hr> 
            <label>Server Name</label>
            <input 
            type="text" 
            class="form-control" [(ngModel)]="serverName">

            <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onClickActive()">Add Server</button>
            
            <h4>{{serverState}}</h4>
            <app-warning></app-warning>

        </div>
    </div>
</div>


 